body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#board{
    background-color: skyblue;
    background-image: url("flappy_bg.png");
}

body.img{
    position: relative;
}